/* import style for forms
--------------------------------------------------------

*/
@import url(forms.css);
@import url(table.css);

/* general
--------------------------------------------------------
*/
html {
  overflow-y: scroll;
  background: -webkit-linear-gradient(#F7F7F7, #C6C6C6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F7F7F7, #C6C6C6);  For Opera 11.1 to 12.0
  background: -moz-linear-gradient(#F7F7F7, #C6C6C6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F7F7F7, #C6C6C6); /* Standard syntax */
  min-height:100%;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  width: 960px;
  margin:0 auto;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(117,105,117,0.14);
  -moz-box-shadow: 5px 5px 5px 0px rgba(117,105,117,0.14);
}

div#content {
  padding: 20px;
  background-color: white;
  overflow:auto;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.1em;
  color: #999966;
}

/* header
--------------------------------------------------------
*/

#header {
  background: -webkit-linear-gradient(#454545, #2E2E2E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#454545, #2E2E2E);  For Opera 11.1 to 12.0
  background: -moz-linear-gradient(#454545, #2E2E2E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#454545, #2E2E2E); /* Standard syntax */
}

#logotitle {
  color: #999966;
  font-size: 2em;
  padding: 20px;
  margin-top: 0;
}

#logotitle a, a:hover, a:visited {
  text-decoration: none;
  color: #999966;
}

/* navigation menu
--------------------------------------------------------
*/
nav.navmenu {
    border-bottom: 3px solid #999966;
    text-align: right;
    padding-right: 20px;
}

nav.navmenu a {
  padding: 0.3em 1em 0 1em;
  font-family: Tahoma, Geneva, sans-serif;
  text-decoration:none;
  display: inline-block;
}

nav.navmenu a.active {
  background-color: #999966;
  color: white;
}

nav.navmenu a:hover {
  color: white;
  -webkit-transition: color 1.5s ease;
  -moz-transition: color 1.5s ease;
  background-color: #999966;
  transition: background-color 1.5s;
}

ul {
  list-style:none;
  padding-left:10px;
}


/* footer
--------------------------------------------------------
*/
#bottom {
  text-align: right;
  padding: 20px;
  color: gray;
  border-top: 2px solid #999966;
  background-color: #EDEFF5;
  height: 200px;
}

#bottom a {
  font: italic 0.8em Arial, Helvetica, sans-serif;
  text-decoration:none;
  color: gray;
}

#bottom a:link {
  color: #2B4000;
}

footer#bottom a:hover {
  text-decoration:underline;
  color: #999966;
}

#bottom a:visited {
  color: gray;
}

.fotter_column {
  display: inline-block;
  text-align: left;
  float: left;
  width: 30%;
  margin-right: 30px;
}

.fotter_column a {
  text-decoration: none;
}

#logos li{
  display: inline;
}


/* byline
--------------------------------------------------------
*/
#byline {
  text-align: center;
}

/* aside box
--------------------------------------------------------
*/

#aside_box {
  display: inline-block;
  vertical-align: top;
  line-height: 150%;
}

.aside_nav a {
  text-decoration: none;
}

.aside_nav a:hover {
  color: gray;
}


/* article, object page
--------------------------------------------------------
*/
#testpage_article, #stylepage_article, #objekt_article {
  display: inline-block;
}

div.article_wrapper_1 {
  height: 600px;
  display: inline-block;
  float: left;
  width: 44%;
  background-color: #F6F6F3;
  margin-bottom: 20px;
  margin-right: 20px;
  color: #686868;
  padding: 10px;
  border: solid 1px;
  border-color: #999966;
}

div.article_wrapper_2 {
  background-color: #F6F6F3;
  color: #686868;
  padding: 20px;
  max-height: 700px; /* sets max-height value for all standards-compliant browsers */
  overflow-y: auto;
  border: solid 1px;
  border-color: #999966;
}

.object img {
  max-width: 90%;
  max-height: 380px;
}

.object_img {
  text-align: center;
  padding: 10px;
}

.small {
  font-size: 0.8em;
}

.object_title {
  font-weight: bold;
}

.left {
  max-width:400px;
  float:left;
  padding-right: 0;
}

.left img {
  max-width:100%;
  max-height:100%;
}

aside.left {
  max-width: 230px;
}

fieldset {
  border: none;
}

.thum_250 li {
  display: inline-block;
  margin-left: 18px;
}

.align_left {
  text-align: left;
  width: 960px;
}
