/* general
--------------------------------------------------------
*/
html {
  overflow-y: scroll;

}

body {
  width: 960px;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/bg.png");
  background-repeat: repeat-x;
  padding-left: 20px;
}

.img-float-left {
  float:left;
  margin-right:20px;
  border: 2px solid #F1F1F1;
  margin-bottom: 20px;
}

/*.justify_border1 {
  padding-left: 20px;
}
*/
#loginmenu {
  text-align: right;
}

ul {
    list-style-type:none;
    height:30px;
    text-align:center;
    width: 100%;      /* new */
    display: table;   /* updated */
}

ul li {
    display: table-cell;  /* updated */
}

.navmenu {
  color: #ffffff;
  margin-top: 20px;
}

/* highlight current choice in navigation menu
--------------------------------------------------------
*/
#nav #currentpage a {
background: #fff;
color: #333;
}

.navmenu a:link {
  color: #ffffff;
  text-decoration: none;
}

.navmenu a:visited {
    color: white;
}

.navmenu a:hover {
  color: gray;
  -webkit-transition-duration: 0.3s;
}

.navmenu a:active {
  color: gray;
}

h1 {
  margin-top: 40px;
}

#byline {
  margin-top: 40px;
}

.mer_om_oss a {
  text-decoration: none;
  color: black;
}

.mer_om_oss a:hover {
  text-decoration: underline;
}

#footer {
  background-color: #DCDCDC;
  text-align: left;
}




