/* import style
-------------------------------------------------------- 

*/
@import url(stylesheet.css);


/* make it pop
-------------------------------------------------------- 
*/

html {
 background:#FFDF6F;
}

body{
 background: #A69076;
 outline: 0;
 margin: auto;
 padding-top: 20px;
 padding-bottom: 20px;
 color: #A69076;
}

h1 
{  text-transform: uppercase;
  color: #FF7940;
}

header#above{
 margin-top:10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 margin-top: 10px;
 padding-right: 10px;
 padding-left: 10px;
}

header#above hr{
 height: 0;
}

header#above a {
 color: #FFFFFF;
}

header#above a:hover {
  color: #FFDF6F;
}

header#top {
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 margin-top:10px;
 background:#FFFFFF;
}
header#top img {
 padding-top: 10px;
}

div#content{
 background:#FFFFFF;
 padding:10px;
 margin:10px auto;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
}

div#presentation{
 background:#FFFFFF;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
 padding: 20px;
}

div#footer{
 margin-top:10px; 
 margin-bottom:10px; 
 background:#FFFFFF;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
} 

hr{
 border:0;
 height:0px;
}

body#me a#me-,
body#report a#report-,
body#style a#style-,
body#test a#test-,
body#source a#source- {
  border:2px 
  solid #A69076;
}

/* navigation menu
-------------------------------------------------------- 
*/
nav.navmenu {
    display: block;
    padding: 0.2em 1em 0 1em;
    text-align: right;
    padding-bottom: 5px;
}

nav.navmenu a {
    padding: 0.3em 1em 0 1em;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration:none;
}
nav.navmenu a:link {
  color: #40E0D0;
}

nav.navmenu a:visited {
  color: #175F36;
}

nav.navmenu a:hover {
  text-decoration:underline;  
  color: #A69076; 
}

#aside_box {
  display: inline-block;
  vertical-align: top;
  line-height: 150%;
}